.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding: 60px 0;
}

.contact-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    gap: 50px;
}

.contact-title {
    position: relative;
    text-align: center;
}

.contact-title h1 {
    padding: 0 30px;
    font-size: 80px;
    font-weight: 600;
}

.contact-title img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.contact-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 45%;
}

.contact-left h1 {
    font-size: 70px;
    font-weight: 700;
    background: linear-gradient(270deg, #DF8908 80%, #B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.contact-left p {
    max-width: 450px;
    color: #D8D8D8;
    font-size: 20px;
    line-height: 32px;
}

.contact-details {
    display: flex;
    flex-direction: column;
    gap: 25px;
    color: #D8D8D8;
    font-size: 20px;
}

.contact-detail {
    display: flex;
    align-items: center;
    gap: 15px;
}

.contact-detail img {
    width: 24px;
}

.contact-right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 55%;
}

.contact-right label {
    color: #D8D8D8;
    font-size: 20px;
    font-weight: 500;
}

.contact-right input,
.contact-right textarea {
    width: 100%;
    border: none;
    border-radius: 8px;
    background: #32323c;
    color: #A0A0A0;
    padding: 18px;
    font-size: 18px;
    font-family: Outfit;
}

.contact-right textarea {
    height: 220px;
    resize: none;
}

.contact-submit {
    font-size: 18px;
    padding: 18px 60px;
    border-radius: 50px;
    background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28%);
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    width: fit-content;
    display: inline-block;
    margin-top: 10px;
}

.contact-submit:hover {
    transform: scale(1.07);
}

@media (max-width: 768px) {
    .contact {
        gap: 40px;
        padding: 20px;
        align-items: start;
    }

    .contact-title h1 {
        font-size: 45px;
    }

    .contact-title img {
        width: 120px;
        right: -15px;
    }

    .contact-section {
        flex-direction: column;
        gap: 40px;
        width: 100%;
    }

    .contact-left h1 {
        font-size: 50px;
    }

    .contact-left p {
        font-size: 16px;
    }

    .contact-right label {
        font-size: 18px;
    }

    .contact-right input,
    .contact-right textarea {
        font-size: 18px;
    }

    .contact-submit {
        padding: 14px 35px;
        font-size: 18px;
    }
}